LinkedList/LinkedList.xcodeproj/project.xcworkspace/xcuserdata/sebastian.tleye.xcuserdatad/UserInterfaceState.xcuserstate
LinkedList/LinkedList.xcodeproj/xcuserdata/sebastian.tleye.xcuserdatad/xcschemes/xcschememanagement.plist
